@import "tailwindcss";

@theme {
  --color-beige: #a88378;
  --color-blush: #d9bcb7;
  --color-brown: #896551;
  --color-moss: #8a9a5b;
  --color-ivory: #fbf0e7;
  --color-primary: #fbf0e7;
}

@custom-variant hover (&:hover);

@tailwind utilities;

:root {
  --background: var(--color-primary);
  --foreground: var(--color-brown);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dancing: var(--font-dancing);
  --font-pregnant: var(--font-pregnant);
  --font-meow: var(--font-meow);
  --font-delicious-handrawn: var(--font-delicious-handrawn);
  --font-caveat: var(--font-caveat);
  --font-butterfly-kids: var(--font-butterfly-kids);
  --font-send-flowers: var(--font-send-flowers);
  --font-fuzzy-bubbles: var(--font-fuzzy-bubbles);
  --font-indie-flower: var(--font-indie-flower);
  --font-shadows-into-light: var(--font-shadows-into-light);
  --font-shadows-into-light-two: var(--font-shadows-into-light-two);
  --font-square-peg: var(--font-square-peg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom {
  animation: zoomIn 0.25s ease-out;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-caveat), cursive;
} */