@import "tailwindcss";

@theme {
  --color-beige: #a88378;
  --color-blush: #d9bcb7;
  --color-brown: #896551;
  --color-moss: #8a9a5b;
  --color-ivory: #fbf0e7;
  --color-primary: #fbf0e7;
}

:root {
  --background: var(--color-primary);
  --foreground: var(--color-brown);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dancing: var(--font-dancing);
  --font-meow: var(--font-meow);
  --font-delicious-handrawn: var(--font-delicious-handrawn);
  --font-caveat: var(--font-caveat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-caveat), cursive;
} */